
*.iml
.gradle
.idea
.kotlin
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*.gpg
*yarn.lock

gradle/.tmp
gradle/caches
gradle/daemon
gradle/wrapper/dists
gradle/native